<div class="signup-container">

  <mat-card>

    <div class="logo-wrapper">
      <img src="assets/logos/concredito.svg" alt="concredito">

      <div style="margin-left: 10px;">
        <p class="mat-headline">Registrate</p>
        <p class="mat-body-1">para continuar en <span class="mat-body-2">Credit Friends</span></p>
      </div>
    </div>
  
    <form [formGroup]="signupForm" (ngSubmit)="onSignup()">

      <mat-form-field appearance="legacy">
        <mat-label>E-mail</mat-label>
        <input type="email" matInput placeholder="Su cuenta E-mail sera su usuario" formControlName="email" required>
        <mat-error *ngIf="signupForm.controls['email'].invalid">{{getErrorMessage('email')}}</mat-error>
      </mat-form-field><br>

      <mat-form-field appearance="legacy">
          <mat-label>Nombre</mat-label>
        <input type="text" matInput placeholder="Su nombre" formControlName="nombre" required>
        <mat-error *ngIf="signupForm.controls['nombre'].invalid">{{getErrorMessage('nombre')}}</mat-error>
      </mat-form-field><br>
    
      <div class="action-buttons">
        <button type="submit" mat-raised-button color="primary" [disabled]="submitButton">{{submitButton ? 'Registrando...' : 'Registrarme'}}</button>
      </div>
  
    </form>

    <mat-divider></mat-divider>

    <div class="login">
      <p class="mat-body-1">Ya tienes cuenta?</p>
      <a mat-button color="primary" routerLink="/login">INICIA SESIÓN!</a>
    </div>
  
  </mat-card>

</div>
  