<div class="login-container">

  <mat-card>

    <div class="logo-wrapper">
      <img src="assets/logos/concredito.svg" alt="concredito">

      <div style="margin-left: 10px;">
        <p class="mat-headline">Inicie sesión</p>
        <p class="mat-body-1">para continuar en <span class="mat-body-2">Credit Friends</span></p>
      </div>
    </div>
  
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  
      <mat-form-field appearance="legacy">
        <mat-label>E-mail</mat-label>
        <input type="email" matInput placeholder="Requerido" formControlName="email" required>
        <mat-error *ngIf="loginForm.controls['email'].invalid">{{getErrorMessage('email')}}</mat-error>
      </mat-form-field>
    
      <div class="action-buttons">
        <button type="submit" mat-raised-button color="primary" [disabled]="submitButton">{{submitButton ? 'Iniciando sesión...' : 'Iniciar sesión'}}</button>
      </div>
  
    </form>

    <mat-divider></mat-divider>

    <div class="signup">
      <p class="mat-body-1">No tienes cuenta?</p>
      <a mat-button color="primary" routerLink="/signup">REGISTRATE!</a>
    </div>
  
  </mat-card>

</div>
